Source: ros-kinetic-four-wheel-steering-controller
Section: misc
Priority: extra
Maintainer: Vincent Rousseau <vincent.rousseau@irstea.fr>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-interface, ros-kinetic-controller-manager, ros-kinetic-four-wheel-steering-msgs, ros-kinetic-nav-msgs, ros-kinetic-realtime-tools, ros-kinetic-rosgraph-msgs, ros-kinetic-rostest, ros-kinetic-std-srvs, ros-kinetic-tf, ros-kinetic-urdf-geometry-parser
Homepage: http://ros.org/wiki/four_wheel_steering_controller
Standards-Version: 3.9.2

Package: ros-kinetic-four-wheel-steering-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-interface, ros-kinetic-four-wheel-steering-msgs, ros-kinetic-nav-msgs, ros-kinetic-realtime-tools, ros-kinetic-tf, ros-kinetic-urdf-geometry-parser
Description: Controller for a four wheel steering mobile base.
